/****** Object:  Table [dbo].[BufferZone]    Script Date: 12/19/2025 5:48:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BufferZone](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IconFile] [int] NOT NULL,
	[Project] [int] NULL,
	[CreationDate] [datetime] NULL,
 CONSTRAINT [PK_BufferZone] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Collections]    Script Date: 12/19/2025 5:48:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[Comments] [nvarchar](250) NULL,
	[License] [int] NULL,
 CONSTRAINT [PK_Collections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IconBuffer]    Script Date: 12/19/2025 5:48:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IconBuffer](
	[Id] [int] NOT NULL,
	[IconFile] [nvarchar](250) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IconFiles]    Script Date: 12/19/2025 5:48:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IconFiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Icon] [int] NOT NULL,
	[FileName] [nvarchar](250) NOT NULL,
	[Extension] [nvarchar](250) NOT NULL,
	[Type] [nvarchar](250) NOT NULL,
	[Size] [int] NOT NULL,
	[OriginalPath] [nvarchar](250) NULL,
	[BinData] [varbinary](max) NULL,
	[IsMerged] [int] NOT NULL,
	[Hash] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_IconFiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_IconFiles_1] UNIQUE NONCLUSTERED 
(
	[Hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IconKeywordBuffer]    Script Date: 12/19/2025 5:48:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IconKeywordBuffer](
	[IconBuffer] [int] NOT NULL,
	[KeywordBuffer] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Icons]    Script Date: 12/19/2025 5:48:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Icons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[IsImage] [int] NULL,
	[IsIco] [int] NULL,
	[IsSvg] [int] NULL,
	[Vein] [int] NOT NULL,
 CONSTRAINT [PK_Icons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IconTags]    Script Date: 12/19/2025 5:48:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IconTags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Icon] [int] NOT NULL,
	[Tag] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_IconTags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_IconTags_2] UNIQUE NONCLUSTERED 
(
	[Icon] ASC,
	[Tag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KeywordBuffer]    Script Date: 12/19/2025 5:48:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KeywordBuffer](
	[Id] [int] NOT NULL,
	[Keyword] [nvarchar](250) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Licenses]    Script Date: 12/19/2025 5:48:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licenses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Licenses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MergedLicenses]    Script Date: 12/19/2025 5:48:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MergedLicenses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IconFile] [int] NOT NULL,
	[License] [int] NOT NULL,
 CONSTRAINT [PK_MergedLicenses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MergeRecipes]    Script Date: 12/19/2025 5:48:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MergeRecipes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BigIcon] [int] NOT NULL,
	[SmallIcon] [int] NOT NULL,
	[SmallIconPosition] [nvarchar](250) NOT NULL,
	[IconResult] [int] NULL,
 CONSTRAINT [PK_MergeRecipes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectIcons]    Script Date: 12/19/2025 5:48:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectIcons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Project] [int] NULL,
	[IconFile] [int] NOT NULL,
	[SentToProject] [int] NULL,
	[DateSent] [nvarchar](250) NULL,
 CONSTRAINT [PK_ProjectIcons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 12/19/2025 5:48:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Path] [nvarchar](250) NOT NULL,
	[Type] [nvarchar](250) NOT NULL,
	[ResourceFile] [nvarchar](250) NULL,
	[ResourceFolder] [nvarchar](250) NULL,
	[SaveIconsTo] [nvarchar](250) NOT NULL,
	[ProjectFile] [nvarchar](250) NULL,
	[UpdateProjectFile] [int] NOT NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Veins]    Script Date: 12/19/2025 5:48:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Veins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Collection] [int] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[Path] [nvarchar](250) NOT NULL,
	[IsIcon] [int] NOT NULL,
	[IsImage] [int] NOT NULL,
	[IsSvg] [int] NOT NULL,
 CONSTRAINT [PK_Veins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IconFiles] ADD  DEFAULT ('Image') FOR [Type]
GO
ALTER TABLE [dbo].[IconFiles] ADD  DEFAULT ((0)) FOR [IsMerged]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT ('Web') FOR [Type]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT ('Folder') FOR [SaveIconsTo]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT ((1)) FOR [UpdateProjectFile]
GO
ALTER TABLE [dbo].[Veins] ADD  CONSTRAINT [DF__Veins__IsIcon__33D4B598]  DEFAULT ((0)) FOR [IsIcon]
GO
ALTER TABLE [dbo].[Veins] ADD  CONSTRAINT [DF__Veins__IsImage__34C8D9D1]  DEFAULT ((1)) FOR [IsImage]
GO
ALTER TABLE [dbo].[Veins] ADD  CONSTRAINT [DF__Veins__IsSvg__35BCFE0A]  DEFAULT ((0)) FOR [IsSvg]
GO
ALTER TABLE [dbo].[BufferZone]  WITH CHECK ADD  CONSTRAINT [FK_BufferZone_IconFiles] FOREIGN KEY([IconFile])
REFERENCES [dbo].[IconFiles] ([Id])
GO
ALTER TABLE [dbo].[BufferZone] CHECK CONSTRAINT [FK_BufferZone_IconFiles]
GO
ALTER TABLE [dbo].[BufferZone]  WITH CHECK ADD  CONSTRAINT [FK_BufferZone_Projects] FOREIGN KEY([Project])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[BufferZone] CHECK CONSTRAINT [FK_BufferZone_Projects]
GO
ALTER TABLE [dbo].[Collections]  WITH CHECK ADD  CONSTRAINT [FK_Collections_Licenses] FOREIGN KEY([License])
REFERENCES [dbo].[Licenses] ([Id])
GO
ALTER TABLE [dbo].[Collections] CHECK CONSTRAINT [FK_Collections_Licenses]
GO
ALTER TABLE [dbo].[IconFiles]  WITH CHECK ADD  CONSTRAINT [FK_IconFiles_Icons] FOREIGN KEY([Icon])
REFERENCES [dbo].[Icons] ([Id])
GO
ALTER TABLE [dbo].[IconFiles] CHECK CONSTRAINT [FK_IconFiles_Icons]
GO
ALTER TABLE [dbo].[Icons]  WITH CHECK ADD  CONSTRAINT [FK_Icons_Veins] FOREIGN KEY([Vein])
REFERENCES [dbo].[Veins] ([Id])
GO
ALTER TABLE [dbo].[Icons] CHECK CONSTRAINT [FK_Icons_Veins]
GO
ALTER TABLE [dbo].[IconTags]  WITH CHECK ADD  CONSTRAINT [FK_IconTags_Icons] FOREIGN KEY([Icon])
REFERENCES [dbo].[Icons] ([Id])
GO
ALTER TABLE [dbo].[IconTags] CHECK CONSTRAINT [FK_IconTags_Icons]
GO
ALTER TABLE [dbo].[MergedLicenses]  WITH CHECK ADD  CONSTRAINT [FK_MergedLicenses_Licenses] FOREIGN KEY([License])
REFERENCES [dbo].[Licenses] ([Id])
GO
ALTER TABLE [dbo].[MergedLicenses] CHECK CONSTRAINT [FK_MergedLicenses_Licenses]
GO
ALTER TABLE [dbo].[MergedLicenses]  WITH CHECK ADD  CONSTRAINT [FK_MergedLicenses_MergeRecipes] FOREIGN KEY([IconFile])
REFERENCES [dbo].[MergeRecipes] ([Id])
GO
ALTER TABLE [dbo].[MergedLicenses] CHECK CONSTRAINT [FK_MergedLicenses_MergeRecipes]
GO
ALTER TABLE [dbo].[MergeRecipes]  WITH CHECK ADD  CONSTRAINT [FK_MergeRecipes_IconFiles] FOREIGN KEY([BigIcon])
REFERENCES [dbo].[IconFiles] ([Id])
GO
ALTER TABLE [dbo].[MergeRecipes] CHECK CONSTRAINT [FK_MergeRecipes_IconFiles]
GO
ALTER TABLE [dbo].[MergeRecipes]  WITH CHECK ADD  CONSTRAINT [FK_MergeRecipes_IconFiles1] FOREIGN KEY([SmallIcon])
REFERENCES [dbo].[IconFiles] ([Id])
GO
ALTER TABLE [dbo].[MergeRecipes] CHECK CONSTRAINT [FK_MergeRecipes_IconFiles1]
GO
ALTER TABLE [dbo].[MergeRecipes]  WITH CHECK ADD  CONSTRAINT [FK_MergeRecipes_IconFiles2] FOREIGN KEY([IconResult])
REFERENCES [dbo].[IconFiles] ([Id])
GO
ALTER TABLE [dbo].[MergeRecipes] CHECK CONSTRAINT [FK_MergeRecipes_IconFiles2]
GO
ALTER TABLE [dbo].[ProjectIcons]  WITH CHECK ADD  CONSTRAINT [FK_ProjectIcons_Projects] FOREIGN KEY([Project])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[ProjectIcons] CHECK CONSTRAINT [FK_ProjectIcons_Projects]
GO
ALTER TABLE [dbo].[Veins]  WITH CHECK ADD  CONSTRAINT [FK_Veins_Collections] FOREIGN KEY([Collection])
REFERENCES [dbo].[Collections] ([Id])
GO
ALTER TABLE [dbo].[Veins] CHECK CONSTRAINT [FK_Veins_Collections]
GO
